In [1]:
#Import library
import pandas as pd

In [2]:
import_df = pd.read_csv('data/2019_League.csv')

In [3]:
import_df.head()

,Rk,Unnamed: 1,S%,SV%,PDO,CF,CA,CF%,FF,FA,...,SCF,SCA,SCF%,HDF,HDA,HDF%,HDGF,HDC%,HDGA,HDCO%
0,1,Tampa Bay Lightning*,8.9,0.927,101.7,3826,3595,51.6,2882,2733,...,1693,1660,50.5,380,325,53.9,71,15.7,62,16.0
1,2,Calgary Flames*,8.4,0.924,100.8,3953,3386,53.9,2903,2560,...,1673,1549,51.9,357,332,51.8,71,16.6,44,11.7
2,3,Boston Bruins*,6.9,0.935,100.4,3872,3421,53.1,2955,2553,...,1579,1437,52.4,314,316,49.8,53,14.4,45,12.5
3,4,Washington Capitals*,9.2,0.927,101.8,3715,3860,49.0,2768,2884,...,1624,1687,49.0,316,401,44.1,50,13.7,56,12.3
4,5,New York Islanders*,7.9,0.940,101.9,3548,3867,47.8,2616,2803,...,1631,1585,50.7,368,330,52.7,66,15.2,51,13.4