In [1]:
#Libraries used
import pandas as pd #for the data frame
import numpy as np #used for filtering and some arithmatic.

In [2]:
#Import the data
df_import = pd.read_csv('data/pbp/raw/pbp_query_20162017.csv',low_memory=False)

In [3]:
#The first thing to do is reduce the number of columns then rows that won't be used
df = df_import[['season', 'game_id', 'game_date', 'event_index', 'game_period',
                'game_seconds', 'event_type', 'event_description', 'event_detail',
                'event_team', 'coords_x', 'coords_y', 'home_team', 'away_team',
                'home_score', 'away_score', 'game_strength_state', 'event_distance',
                'event_angle']]
even_strength = df.game_strength_state.isin(['5v5','4v4','3v3'])
play_type     = df.event_type.isin(['FAC','SHOT','HIT','BLOCK','MISS','GIVE','TAKE','GOAL'])
no_coords     = ~df.coords_x.isna()
df            = df[even_strength & play_type & no_coords]

In [170]:
#Flipping the x/y coordinates for away team in 1st/3rd period and Home 2nd period.
#This makes sure that everything orients the same way. 
away_flip_1 = (df.event_team == df.away_team) & (df.game_period.isin([1,3]))
home_flip_1 = (df.event_team == df.home_team) & (df.game_period.isin([2,4]))
home_cond = (df.logat == 1)
away_flip_0 = (df.event_team == df.away_team) & (df.game_period.isin([2,4]))
home_flip_0 = (df.event_team == df.home_team) & (df.game_period.isin([1,3]))
away_cond = (df.logat == 0)
#Come back to this
df['x_flip'] = np.where((away_flip_1 | home_flip_1) & home_cond ,-1*df.coords_x,df.coords_x)
df['y_flip'] = np.where((away_flip_1 | home_flip_1) & home_cond ,-1*df.coords_y,df.coords_y)
df['x_flip'] = np.where((away_flip_0 | home_flip_0) & away_cond ,df.x_flip,-1*df.coords_x)
df['y_flip'] = np.where((away_flip_0 | home_flip_0) & away_cond ,df.y_flip,-1*df.coords_y)
#This moves the 0,0 point from center ice to the center of the goal on the red line
df['x_goaline'] = 89 - df.x_flip
#How to get the distance
df['new_distance'] = ((df['x_goaline']**2) + (df['y_flip']**2))**(1/2)

In [171]:
df['logat'] = np.where(df.game_id.isin(get_lst),1,0)

In [175]:
df_1.sample(5)

,event_team,home_team,game_period,game_seconds,logat,coords_x,coords_y,x_flip,y_flip,x_goaline,event_distance,new_distance,event_type,event_description
182954,T.B,PIT,2,1214,1,45.0,-34.0,-45.0,34.0,134.0,55.61,138.246157,SHOT,"T.B ONGOAL - #22 CONDRA, Wrist, Off. Zone, 56 ft."
91740,PHI,PHI,2,1704,0,54.0,1.0,-54.0,-1.0,143.0,35.01,143.003496,SHOT,"PHI ONGOAL - #9 PROVOROV, Snap, Off. Zone, 36 ft."
302567,FLA,FLA,3,3564,0,-51.0,20.0,-51.0,20.0,140.0,42.94,141.421356,SHOT,"FLA ONGOAL - #36 JOKINEN, Backhand, Off. Zone,..."
242412,VAN,NSH,3,3383,1,-35.0,7.0,35.0,-7.0,54.0,54.45,54.451814,SHOT,"VAN ONGOAL - #27 HUTTON, Slap, Off. Zone, 55 ft."
112600,ANA,EDM,1,42,1,-19.0,-36.0,19.0,36.0,70.0,78.71,78.714675,SHOT,"ANA ONGOAL - #7 COGLIANO, Wrist, Neu. Zone, 79..."

In [172]:
check_lst = ['event_team','home_team','game_period','game_seconds','logat',
             'coords_x','coords_y','x_flip','y_flip','x_goaline',
             'event_distance','new_distance','event_type','event_description']
df_rc = df[check_lst].copy()
#df_rc['x_wtf'] = 89 - df.x_flip
#df_rc['new_distance_2'] = ((df_rc['x_wtf']**2) + (df_rc['y_flip']**2))**(1/2)

In [174]:
df_rc.sample(10)

,event_team,home_team,game_period,game_seconds,logat,coords_x,coords_y,x_flip,y_flip,x_goaline,event_distance,new_distance,event_type,event_description
195154,DET,DET,1,238,0,-93.0,36.0,-93.0,36.0,182.0,36.22,185.526278,HIT,"DET #39 MANTHA HIT PIT #4 SCHULTZ, Off. Zone"
78384,MTL,CAR,2,2280,0,-85.0,7.0,-85.0,7.0,174.0,8.06,174.140748,BLOCK,MTL #11 GALLAGHER BLOCKED BY CAR #16 LINDHOLM...
25110,BOS,BOS,3,3393,1,44.0,15.0,-44.0,-15.0,133.0,47.43,133.843192,MISS,"BOS #46 KREJCI, Wrist, Wide of Net, Off. Zone,..."
197746,PHI,WSH,2,1954,0,-59.0,-16.0,-59.0,-16.0,148.0,34.00,148.862353,SHOT,"PHI ONGOAL - #15 DEL ZOTTO, Wrist, Off. Zone, ..."
179206,ARI,ANA,3,2592,1,0.0,0.0,-0.0,-0.0,89.0,89.00,89.000000,FAC,ARI won Neu. Zone - ARI #86 JOORIS vs ANA #48 ...
37309,FLA,DET,1,167,0,-69.0,22.0,69.0,-22.0,20.0,29.73,29.732137,FAC,FLA won Def. Zone - FLA #21 TROCHECK vs DET #5...
194370,COL,COL,3,2431,0,-69.0,22.0,-69.0,22.0,158.0,29.73,159.524293,FAC,COL won Off. Zone - NSH #12 FISHER vs COL #34 ...
80766,EDM,DAL,2,1404,0,-52.0,5.0,-52.0,5.0,141.0,37.34,141.088625,BLOCK,"EDM #98 PULJUJARVI BLOCKED BY DAL #47 ODUYA, ..."
160378,TOR,FLA,2,1819,0,-91.0,36.0,-91.0,36.0,180.0,36.06,183.564702,HIT,"TOR #16 MARNER HIT FLA #55 DEMERS, Off. Zone"
316010,OTT,OTT,1,270,1,59.0,-7.0,-59.0,7.0,148.0,30.81,148.165448,BLOCK,"OTT #5 CECI BLOCKED BY CHI #38 HARTMAN, Slap,..."

In [173]:
df_1 = df_rc[df_rc.event_type.isin(['SHOT'])]

In [160]:
df_1.sample(10)

,event_team,home_team,game_period,game_seconds,logat,coords_x,coords_y,x_flip,y_flip,x_goaline,event_distance,new_distance,event_type,event_description
234363,PHI,PHI,2,1432,0,63.0,25.0,63.0,25.0,26.0,36.07,36.069378,SHOT,"PHI ONGOAL - #93 VORACEK, Wrist, Off. Zone, 36..."
198364,N.J,VAN,3,2902,0,49.0,8.0,49.0,8.0,40.0,40.79,40.792156,SHOT,"N.J ONGOAL - #13 CAMMALLERI, Wrist, Off. Zone,..."
102412,FLA,CHI,3,2888,0,75.0,-12.0,75.0,-12.0,14.0,18.44,18.439089,SHOT,"FLA ONGOAL - #13 PYSYK, Wrist, Off. Zone, 19 ft."
6939,CBJ,CBJ,2,2180,1,-63.0,-38.0,63.0,38.0,26.0,46.04,46.043458,SHOT,"CBJ ONGOAL - #10 WENNBERG, Wrist, Off. Zone, 4..."
307140,MTL,EDM,1,943,1,-49.0,-8.0,49.0,8.0,40.0,40.79,40.792156,SHOT,"MTL ONGOAL - #26 PETRY, Wrist, Off. Zone, 41 ft."
123620,BUF,BUF,3,3303,1,76.0,2.0,-76.0,-2.0,165.0,13.15,165.012121,SHOT,"BUF ONGOAL - #23 REINHART, Wrist, Off. Zone, 1..."
55726,N.J,N.J,3,2630,1,76.0,-17.0,-76.0,17.0,165.0,21.40,165.873446,SHOT,"N.J ONGOAL - #51 KALININ, Backhand, Off. Zone,..."
352426,PHI,PHI,3,2534,0,-61.0,24.0,61.0,-24.0,28.0,36.88,36.878178,SHOT,"PHI ONGOAL - #17 SIMMONDS, Wrist, Off. Zone, 3..."
293530,CAR,ARI,1,51,1,-34.0,36.0,34.0,-36.0,55.0,65.73,65.734314,SHOT,"CAR ONGOAL - #22 PESCE, Wrist, Off. Zone, 66 ft."
226133,MTL,MTL,1,538,0,-61.0,28.0,61.0,-28.0,28.0,39.60,39.597980,SHOT,"MTL ONGOAL - #65 SHAW, Wrist, Off. Zone, 40 ft."

In [135]:
df_1.x_flip.describe()

count    55616.000000
mean        30.700500
std         54.753906
min        -97.000000
25%          8.000000
50%         52.000000
75%         72.000000
max         98.000000
Name: x_flip, dtype: float64

In [71]:
hometeam = df.event_team == df.home_team
shots    = df.event_type == 'SHOT'
first_period = df.game_period == 1
df_1 = df[hometeam & shots & first_period]

In [89]:
game_lst = []
team_lst = []
mean_lst = []
for game in df_1.game_id.unique():
    df_temp = df_1[df_1.game_id==game]
    game_lst.append(game)
    team_lst.append(df_temp.home_team.iloc[0])
    mean_lst.append(df_temp.coords_x.mean())
    
new_df = pd.DataFrame(list(zip(game_lst,team_lst,mean_lst)),
                      columns=['Game','Team','avg'])

In [113]:
testing = new_df[new_df.avg > 0].Game.tolist()

In [111]:
get_lst = new_df_1.Game.tolist()

In [176]:
testing

[2016020001,
 2016020003,
 2016020004,
 2016020005,
 2016020007,
 2016020008,
 2016020009,
 2016020011,
 2016020014,
 2016020015,
 2016020018,
 2016020019,
 2016020021,
 2016020023,
 2016020025,
 2016020028,
 2016020030,
 2016020031,
 2016020034,
 2016020037,
 2016020038,
 2016020041,
 2016020042,
 2016020043,
 2016020047,
 2016020051,
 2016020053,
 2016020055,
 2016020060,
 2016020062,
 2016020063,
 2016020065,
 2016020066,
 2016020069,
 2016020073,
 2016020077,
 2016020078,
 2016020080,
 2016020083,
 2016020084,
 2016020086,
 2016020089,
 2016020093,
 2016020094,
 2016020096,
 2016020097,
 2016020098,
 2016020100,
 2016020103,
 2016020106,
 2016020107,
 2016020112,
 2016020113,
 2016020116,
 2016020118,
 2016020120,
 2016020122,
 2016020126,
 2016020129,
 2016020131,
 2016020133,
 2016020135,
 2016020141,
 2016020145,
 2016020146,
 2016020147,
 2016020150,
 2016020151,
 2016020155,
 2016020157,
 2016020158,
 2016020160,
 2016020162,
 2016020165,
 2016020166,
 2016020167,
 2016020169,
 2016020170,
 2016020173,
 2016020175,
 2016020179,
 2016020180,
 2016020183,
 2016020186,
 2016020190,
 2016020193,
 2016020194,
 2016020195,
 2016020196,
 2016020197,
 2016020201,
 2016020203,
 2016020205,
 2016020206,
 2016020208,
 2016020211,
 2016020213,
 2016020215,
 2016020217,
 2016020219,
 2016020220,
 2016020221,
 2016020225,
 2016020228,
 2016020229,
 2016020232,
 2016020236,
 2016020242,
 2016020245,
 2016020248,
 2016020249,
 2016020252,
 2016020253,
 2016020255,
 2016020257,
 2016020262,
 2016020263,
 2016020265,
 2016020267,
 2016020269,
 2016020275,
 2016020276,
 2016020277,
 2016020278,
 2016020279,
 2016020281,
 2016020282,
 2016020283,
 2016020287,
 2016020288,
 2016020289,
 2016020292,
 2016020294,
 2016020295,
 2016020297,
 2016020299,
 2016020301,
 2016020304,
 2016020305,
 2016020307,
 2016020308,
 2016020309,
 2016020310,
 2016020312,
 2016020314,
 2016020317,
 2016020318,
 2016020321,
 2016020322,
 2016020323,
 2016020328,
 2016020329,
 2016020332,
 2016020333,
 2016020338,
 2016020340,
 2016020341,
 2016020345,
 2016020346,
 2016020347,
 2016020349,
 2016020351,
 2016020355,
 2016020358,
 2016020359,
 2016020362,
 2016020363,
 2016020364,
 2016020365,
 2016020366,
 2016020368,
 2016020370,
 2016020372,
 2016020373,
 2016020376,
 2016020378,
 2016020379,
 2016020381,
 2016020382,
 2016020383,
 2016020384,
 2016020386,
 2016020387,
 2016020393,
 2016020394,
 2016020395,
 2016020396,
 2016020399,
 2016020403,
 2016020405,
 2016020407,
 2016020410,
 2016020413,
 2016020415,
 2016020417,
 2016020418,
 2016020420,
 2016020421,
 2016020428,
 2016020429,
 2016020431,
 2016020432,
 2016020437,
 2016020440,
 2016020441,
 2016020442,
 2016020445,
 2016020446,
 2016020449,
 2016020450,
 2016020453,
 2016020454,
 2016020463,
 2016020467,
 2016020468,
 2016020469,
 2016020470,
 2016020473,
 2016020479,
 2016020480,
 2016020481,
 2016020482,
 2016020483,
 2016020484,
 2016020486,
 2016020492,
 2016020494,
 2016020495,
 2016020496,
 2016020497,
 2016020499,
 2016020500,
 2016020502,
 2016020505,
 2016020507,
 2016020509,
 2016020515,
 2016020516,
 2016020517,
 2016020518,
 2016020520,
 2016020522,
 2016020525,
 2016020526,
 2016020528,
 2016020529,
 2016020530,
 2016020532,
 2016020534,
 2016020535,
 2016020537,
 2016020542,
 2016020543,
 2016020545,
 2016020547,
 2016020548,
 2016020549,
 2016020551,
 2016020552,
 2016020557,
 2016020559,
 2016020561,
 2016020563,
 2016020568,
 2016020569,
 2016020570,
 2016020571,
 2016020577,
 2016020578,
 2016020580,
 2016020581,
 2016020584,
 2016020586,
 2016020590,
 2016020591,
 2016020595,
 2016020597,
 2016020598,
 2016020599,
 2016020600,
 2016020602,
 2016020603,
 2016020605,
 2016020606,
 2016020608,
 2016020609,
 2016020613,
 2016020615,
 2016020616,
 2016020618,
 2016020619,
 2016020620,
 2016020625,
 2016020626,
 2016020627,
 2016020631,
 2016020635,
 2016020639,
 2016020640,
 2016020643,
 2016020647,
 2016020649,
 2016020651,
 2016020655,
 2016020656,
 2016020657,
 2016020661,
 2016020662,
 2016020664,
 2016020666,
 2016020671,
 2016020675,
 2016020677,
 2016020678,
 2016020680,
 2016020683,
 2016020684,
 2016020685,
 2016020686,
 2016020688,
 2016020689,
 2016020692,
 2016020695,
 2016020698,
 2016020701,
 2016020702,
 2016020704,
 2016020705,
 2016020713,
 2016020714,
 2016020715,
 2016020716,
 2016020717,
 2016020719,
 2016020720,
 2016020727,
 2016020728,
 2016020729,
 2016020730,
 2016020733,
 2016020735,
 2016020739,
 2016020740,
 2016020741,
 2016020743,
 2016020747,
 2016020749,
 2016020751,
 2016020752,
 2016020753,
 2016020754,
 2016020758,
 2016020760,
 2016020761,
 2016020762,
 2016020764,
 2016020766,
 2016020769,
 2016020774,
 2016020775,
 2016020776,
 2016020777,
 2016020778,
 2016020779,
 2016020780,
 2016020783,
 2016020787,
 2016020788,
 2016020790,
 2016020792,
 2016020795,
 2016020797,
 2016020798,
 2016020802,
 2016020803,
 2016020807,
 2016020809,
 2016020812,
 2016020815,
 2016020816,
 2016020818,
 2016020820,
 2016020826,
 2016020827,
 2016020828,
 2016020830,
 2016020831,
 2016020832,
 2016020833,
 2016020834,
 2016020836,
 2016020837,
 2016020839,
 2016020842,
 2016020843,
 2016020846,
 2016020847,
 2016020848,
 2016020849,
 2016020850,
 2016020851,
 2016020853,
 2016020855,
 2016020857,
 2016020858,
 2016020862,
 2016020866,
 2016020870,
 2016020871,
 2016020872,
 2016020873,
 2016020874,
 2016020877,
 2016020878,
 2016020880,
 2016020881,
 2016020882,
 2016020887,
 2016020888,
 2016020893,
 2016020896,
 2016020897,
 2016020905,
 2016020906,
 2016020909,
 2016020915,
 2016020918,
 2016020919,
 2016020920,
 2016020922,
 2016020923,
 2016020928,
 2016020933,
 2016020934,
 2016020936,
 2016020937,
 2016020940,
 2016020942,
 2016020945,
 2016020946,
 2016020951,
 2016020952,
 2016020953,
 2016020954,
 2016020959,
 2016020960,
 2016020963,
 2016020964,
 2016020967,
 2016020968,
 2016020970,
 2016020971,
 2016020973,
 2016020974,
 2016020979,
 2016020981,
 2016020982,
 2016020987,
 2016020991,
 2016020994,
 2016020995,
 2016020998,
 2016020999,
 2016021000,
 2016021001,
 2016021002,
 2016021003,
 2016021007,
 2016021008,
 2016021013,
 2016021014,
 2016021015,
 2016021016,
 2016021019,
 2016021022,
 2016021024,
 2016021028,
 2016021030,
 2016021032,
 2016021036,
 2016021037,
 2016021038,
 2016021041,
 2016021042,
 2016021043,
 2016021044,
 2016021046,
 2016021048,
 2016021050,
 2016021052,
 2016021056,
 2016021057,
 2016021060,
 2016021061,
 2016021062,
 2016021063,
 2016021064,
 2016021072,
 2016021074,
 2016021075,
 2016021076,
 2016021077,
 2016021080,
 2016021086,
 2016021088,
 2016021089,
 2016021093,
 2016021095,
 2016021096,
 2016021101,
 2016021104,
 2016021105,
 2016021107,
 2016021110,
 2016021111,
 2016021113,
 2016021114,
 2016021115,
 2016021117,
 2016021118,
 2016021121,
 2016021122,
 2016021123,
 2016021124,
 2016021125,
 2016021127,
 2016021130,
 2016021134,
 2016021136,
 2016021137,
 2016021140,
 2016021141,
 2016021145,
 2016021146,
 2016021149,
 2016021151,
 2016021156,
 2016021157,
 2016021158,
 2016021160,
 2016021164,
 2016021166,
 2016021167,
 2016021168,
 2016021169,
 2016021170,
 2016021176,
 2016021179,
 2016021180,
 2016021181,
 2016021183,
 2016021184,
 2016021185,
 2016021189,
 2016021191,
 2016021192,
 2016021194,
 2016021195,
 2016021197,
 2016021202,
 2016021203,
 2016021205,
 2016021207,
 2016021209,
 2016021210,
 2016021217,
 2016021219,
 2016021222,
 2016021223,
 2016021225,
 2016021229,
 2016021230]