In [51]:
import pandas as pd
pd.get_option("display.max_columns",None)
pd.options.display.max_seq_items = 2000

In [2]:
#Imports the data
df_mp = pd.read_csv('data\PBP\MP_data\shots_2019.csv')
df_eh = pd.read_csv('data\PBP\RAW\pbp_query_20192020.csv',low_memory=False)

In [84]:
#Removes playoff games
df_mp = df_mp[df_mp.isPlayoffGame == 0]
df_mp = df_mp[df_mp.period.isin([1,2,3])]
df_mp = df_mp[df_mp.homeSkatersOnIce == df_mp.awaySkatersOnIce]
#Focus on miss, shot, and goal
df_eh = df_eh[df_eh.event_type.isin(['GOAL','MISS','SHOT'])]
df_eh = df_eh[df_eh.game_period.isin([1,2,3])]
df_eh = df_eh[df_eh.home_skaters == df_eh.away_skaters]
#Grabs the first game
eh_first = df_eh[df_eh.game_id == 2019020003]
mp_first = df_mp[df_mp.game_id == 20003]
#'home_skaters','away_skaters',

In [85]:
x_coords = ['xCord','xCordAdjusted','arenaAdjustedXCord']
df_mp[x_coords].head(20)

    xCord  xCordAdjusted  arenaAdjustedXCord
0      85             85                85.0
1      28             28                26.0
4     -64             64               -62.0
5      63             63                60.0
6     -59             59               -56.0
7     -86             86               -86.0
8     -42             42               -40.0
9     -52             52               -48.0
10    -38             38               -34.0
11    -76             76               -77.0
18     78             78                80.0
19     47             47                44.0
24     67             67                64.0
25     47             47                46.0
26    -62             62               -58.0
27     56             56                54.0
28    -45             45               -42.0
29     50             50                47.0
30    -34             34               -31.0
31     68             68                65.0

In [78]:
mp_fil_lst = ['homeTeamCode','awayTeamCode','event','period','team',
              'xCord','yCord','xCordAdjusted','yCordAdjusted']
mp_first[mp_fil_lst].head(10)

,homeTeamCode,awayTeamCode,event,period,team,xCord,yCord,xCordAdjusted,yCordAdjusted
4888,ARI,VGK,SHOT,1,HOME,54,-18,54,-18
4889,ARI,VGK,SHOT,1,HOME,77,4,77,4
4890,ARI,VGK,SHOT,1,AWAY,-51,26,51,-26
4891,ARI,VGK,SHOT,1,HOME,57,-36,57,-36
4892,ARI,VGK,SHOT,1,HOME,88,-6,88,-6
4893,ARI,VGK,MISS,1,HOME,32,-12,32,-12
4894,ARI,VGK,SHOT,1,HOME,70,-30,70,-30
4901,ARI,VGK,SHOT,1,AWAY,-49,27,49,-27
4902,ARI,VGK,SHOT,1,AWAY,-50,-39,50,39
4903,ARI,VGK,GOAL,1,HOME,87,11,87,11

In [79]:
eh_fil_lst = ['home_team','away_team','event_type','game_period','event_team',
              'coords_x','coords_y']
eh_first[eh_fil_lst].head(10)

,home_team,away_team,event_type,game_period,event_team,coords_x,coords_y
36129,ARI,VGK,SHOT,1,ARI,54.0,-18.0
36131,ARI,VGK,SHOT,1,ARI,77.0,4.0
36133,ARI,VGK,SHOT,1,VGK,-51.0,26.0
36139,ARI,VGK,SHOT,1,ARI,57.0,-36.0
36144,ARI,VGK,SHOT,1,ARI,88.0,-6.0
36145,ARI,VGK,MISS,1,ARI,32.0,-12.0
36151,ARI,VGK,SHOT,1,ARI,70.0,-30.0
36217,ARI,VGK,SHOT,1,VGK,-50.0,-39.0
36220,ARI,VGK,GOAL,1,ARI,87.0,11.0
36245,ARI,VGK,MISS,1,ARI,48.0,7.0

In [41]:
df_mp.event.value_counts()

SHOT    60490
MISS    24783
GOAL     6263
Name: event, dtype: int64

In [42]:
df_eh.event_type.value_counts()

SHOT    60651
MISS    24834
GOAL     6284
Name: event_type, dtype: int64

In [9]:
df_eh.columns

Index(['season', 'game_id', 'game_date', 'session', 'event_index',
       'game_period', 'game_seconds', 'clock_time', 'event_type',
       'event_description', 'event_detail', 'event_zone', 'event_team',
       'event_player_1', 'event_player_2', 'event_player_3', 'event_length',
       'coords_x', 'coords_y', 'num_on', 'num_off', 'players_on',
       'players_off', 'home_on_1', 'home_on_2', 'home_on_3', 'home_on_4',
       'home_on_5', 'home_on_6', 'home_on_7', 'away_on_1', 'away_on_2',
       'away_on_3', 'away_on_4', 'away_on_5', 'away_on_6', 'away_on_7',
       'home_goalie', 'away_goalie', 'home_team', 'away_team', 'home_skaters',
       'away_skaters', 'home_score', 'away_score', 'game_score_state',
       'game_strength_state', 'home_zone', 'pbp_distance', 'event_distance',
       'event_angle', 'home_zonestart', 'face_index', 'pen_index',
       'shift_index', 'pred_goal'],
      dtype='object')

# Observations
1. The first game of the season are the same for both sets, and they have the same number of events
2. From the raw data, the shots appear to be correct across multiple periods
3. There are the correct amount of games
4. When I first verfied the data, there was between 4-10% of shots missing
    This was due to including the playoffs games in the moneypuck data. 
    After further digging There are still games (about 1/3) that have a difference of 1-2 shots
    This is less than 1% different. Although I cannot pinpoint the difference, this can be ignored
    If I want to look into this in the future I can check to make sure its a true comparison.

In [80]:
#Operation graveyard
#mp_first[['homeTeamCode','awayTeamCode','event','period','xCord','yCord','xCordAdjusted']].head()
#eh_first[['home_team','away_team','event_type','game_period','coords_x','coords_y']].head()

In [81]:
'''
id_lst = df_mp.game_id.unique().tolist()
game_id = []
mp_events = []
eh_events = []
for game in id_lst:
    eh_id = f'20190{game}'
    mp_temp = df_mp[df_mp.game_id == game]
    eh_temp = df_eh[df_eh.game_id == int(eh_id)]
    if len(eh_temp) != len(mp_temp):
        game_id.append(game)
        mp_events.append(len(mp_temp))
        eh_events.append(len(eh_temp))
    
debug_dict = {'game_id':game_id,'mp_events':mp_events,'eh_events':eh_events}
debug = pd.DataFrame(debug_dict)
debug.head()
'''

"\nid_lst = df_mp.game_id.unique().tolist()\ngame_id = []\nmp_events = []\neh_events = []\nfor game in id_lst:\n    eh_id = f'20190{game}'\n    mp_temp = df_mp[df_mp.game_id == game]\n    eh_temp = df_eh[df_eh.game_id == int(eh_id)]\n    if len(eh_temp) != len(mp_temp):\n        game_id.append(game)\n        mp_events.append(len(mp_temp))\n        eh_events.append(len(eh_temp))\n    \ndebug_dict = {'game_id':game_id,'mp_events':mp_events,'eh_events':eh_events}\ndebug = pd.DataFrame(debug_dict)\ndebug.head()\n"