In [1]:
#Libraries used
import pandas as pd #for the data frame
import numpy as np #used for filtering and some arithmatic.

In [2]:
#Import the data
df_import = pd.read_csv('data/pbp/raw/pbp_query_20162017.csv',low_memory=False)

In [3]:
#The first thing to do is reduce the number of columns then rows that won't be used
df = df_import[['season', 'game_id', 'game_date', 'event_index', 'game_period',
                'game_seconds', 'event_type', 'event_description', 'event_detail',
                'event_team', 'coords_x', 'coords_y', 'home_team', 'away_team',
                'home_score', 'away_score', 'game_strength_state', 'event_distance',
                'event_angle']]
even_strength = df.game_strength_state.isin(['5v5','4v4','3v3'])
play_type     = df.event_type.isin(['FAC','SHOT','HIT','BLOCK','MISS','GIVE','TAKE','GOAL'])
no_coords     = ~df.coords_x.isna()
df            = df[even_strength & play_type & no_coords]

In [10]:
df_rc = df[['coords_x','coords_y','event_distance','event_angle']].copy()

In [11]:
df_rc['x_flip'] = 89 - abs(df_rc['coords_x'])

In [20]:
df_rc['x_act'] = round((df_rc.event_distance**2 - df_rc.coords_y**2)**(1/2),1)

In [21]:
df_rc

        coords_x  coords_y  event_distance  event_angle  x_flip  x_act
0            0.0       0.0           89.00         0.00    89.0   89.0
2           69.0      22.0           29.73        47.73    20.0   20.0
3          -81.0      38.0           38.83        78.11     8.0    8.0
4          -43.0      23.0           51.43        26.57    46.0   46.0
5          -61.0      11.0           30.08        21.45    28.0   28.0
...          ...       ...             ...          ...     ...    ...
372737      93.0       8.0            8.94        63.43    -4.0    4.0
372738      68.0      19.0           28.32        42.14    21.0   21.0
372740      69.0      22.0           29.73        47.73    20.0   20.0
372741      47.0      -3.0           42.11         4.09    42.0   42.0
372743      69.0      22.0           29.73        47.73    20.0   20.0

[254367 rows x 6 columns]

In [23]:
df_rc['check'] = np.where(df_rc.x_flip == df_rc.x_act,1,0)

In [25]:
df_rc.check.sum()

226019

In [26]:
df_rc.shape

(254367, 7)