In [13]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
skaters = pd.read_csv('data\Players\EH_SKATE_11-21.csv')

In [16]:
def get_4_digit(year):
    first_yr = year.partition('-')[0]
    second_yr = year.partition('-')[2]
    new_year = f'20{first_yr}-{second_yr}'
    return new_year

def adjust_name(name):
    first_name = name.partition(' ')[0].lower().replace('.','')
    second_name = name.partition(' ')[2].lower().replace('.','')
    new_name = f'{first_name}-{second_name}'
    return new_name

skaters['Season(4)'] = skaters.Season.apply(get_4_digit)
skaters['Adj_Name'] = skaters.Player.apply(adjust_name)
skaters['Clause'] = np.nan
skaters['Cap_Hit'] = np.nan
skaters['AAV'] = np.nan
skaters['P_Bonuses'] = np.nan
skaters['S_Bonuses'] = np.nan
skaters['Base_Salary'] = np.nan
skaters['Total_Salary'] = np.nan
skaters['Minors_Salary'] = np.nan

In [4]:
player_list = skaters.Adj_Name.unique().tolist()

In [19]:
URL = f'https://www.capfriendly.com/players/{player_list[0]}'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')
get_tables = soup.find_all(id='cont_x')

In [40]:
for table in get_tables:
    for year in table:
        for value in year:
            try:
                con_1 = (skaters['Adj_Name'] == player_list[0])
                con_2 = (skaters['Season(4)'] == int(year.find('td').get_text()))
            except ValueError:
                print('this did not work')
                pass
            skaters.loc[(con_1 & con_2), 'Minors_Salary'] = value

this did not work

TypeError: '>' not supported between instances of 'NoneType' and 'int'

In [6]:
layer_1 = soup.find_all(id='cont_x')

In [12]:
for table in layer_1:
    for year in table:
        for value in year:
            print(value.get_text())

SEASON
CLAUSE
CAP HIT
AAV
P. BONUSES
S. BONUSES
BASE SALARY
TOTAL SALARY
MINORS SALARY
2017-18

$7,500,000
$7,500,000
$0
$5,000,000
$4,000,000
$9,000,000
$9,000,000
2018-19

$7,500,000
$7,500,000
$0
$3,000,000
$4,000,000
$7,000,000
$7,000,000
2019-20

$7,500,000
$7,500,000
$0
$4,000,000
$5,000,000
$9,000,000
$9,000,000
2020-21

$7,500,000
$7,500,000
$0
$4,000,000
$2,000,000
$6,000,000
$6,000,000
2021-22
NMC
$7,500,000
$7,500,000
$0
$3,000,000
$6,000,000
$9,000,000
$9,000,000
2022-23
NMC
$7,500,000
$7,500,000
$0
$4,000,000
$2,000,000
$6,000,000
$6,000,000
2023-24
NMC
$7,500,000
$7,500,000
$0
$3,000,000
$4,000,000
$7,000,000
$7,000,000
2024-25
M-NTC
$7,500,000
$7,500,000
$0
$3,000,000
$4,000,000
$7,000,000
$7,000,000
TOTAL

$60,000,000
$60,000,000
$0
$29,000,000
$31,000,000
$60,000,000
$60,000,000
SEASON
CLAUSE
CAP HIT
AAV
P. BONUSES
S. BONUSES
BASE SALARY
TOTAL SALARY
MINORS SALARY
2014-15

$925,000
$3,775,000
$2,850,000
$92,500
$832,500
$925,000
$70,000
2015-16

$925,000
$3,775,000
$2,850,000
$92,500
$832,500
$925,000
$70,000
2016-17

$925,000
$3,775,000
$2,850,000
$92,500
$832,500
$925,000
$70,000
TOTAL

$2,775,000
$11,325,000
$8,550,000
$277,500
$2,497,500
$2,775,000
$210,000

In [18]:
skaters.head()

,Player,Season,Team,Position,GP,TOI,G,A1,A2,Points,...,Season(4),Adj_Name,Clause,Cap_Hit,AAV,P_Bonuses,S_Bonuses,Base_Salary,Total_Salary,Minors_Salary
0,A.J. Greer,16-17,COL,L,5,68.28,0,0,1,1,...,2016-17,aj-greer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A.J. Greer,17-18,COL,L,17,125.68,0,2,1,3,...,2017-18,aj-greer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.J. Greer,18-19,COL,L,15,94.02,1,1,0,2,...,2018-19,aj-greer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A.J. Greer,20-21,N.J,L,1,8.55,0,0,0,0,...,2020-21,aj-greer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aaron Downey,07-08,DET,R,56,256.93,0,3,0,3,...,2007-08,aaron-downey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
skaters.head()

,Player,Season,Team,Position,GP,TOI,G,A1,A2,Points,...,Season(4),Adj_Name,Clause,Cap_Hit,AAV,P_Bonuses,S_Bonuses,Base_Salary,Total_Salary,Minors_Salary
0,A.J. Greer,16-17,COL,L,5,68.28,0,0,1,1,...,2016-17,aj-greer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A.J. Greer,17-18,COL,L,17,125.68,0,2,1,3,...,2017-18,aj-greer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.J. Greer,18-19,COL,L,15,94.02,1,1,0,2,...,2018-19,aj-greer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A.J. Greer,20-21,N.J,L,1,8.55,0,0,0,0,...,2020-21,aj-greer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aaron Downey,07-08,DET,R,56,256.93,0,3,0,3,...,2007-08,aaron-downey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN