In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
skaters = pd.read_csv('data\Players\EH_SKATE_11-21.csv')

In [3]:
def get_4_digit(year):
    first_yr = year.partition('-')[0]
    second_yr = year.partition('-')[2]
    new_year = f'20{first_yr}-{second_yr}'
    return new_year

def adjust_name(name):
    first_name = name.partition(' ')[0].lower().replace('.','')
    second_name = name.partition(' ')[2].lower().replace('.','')
    new_name = f'{first_name}-{second_name}'
    return new_name

skaters['Season(4)'] = skaters.Season.apply(get_4_digit)
skaters['Adj_Name'] = skaters.Player.apply(adjust_name)

In [4]:
player_list = skaters.Adj_Name.unique().tolist()

In [5]:
URL = f'https://www.capfriendly.com/players/{player_list[2]}'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')

In [6]:
layer_1 = soup.find_all(id='cont_x')

In [12]:
for table in layer_1:
    for year in table:
        for value in year:
            print(value.get_text())

SEASON
CLAUSE
CAP HIT
AAV
P. BONUSES
S. BONUSES
BASE SALARY
TOTAL SALARY
MINORS SALARY
2017-18

$7,500,000
$7,500,000
$0
$5,000,000
$4,000,000
$9,000,000
$9,000,000
2018-19

$7,500,000
$7,500,000
$0
$3,000,000
$4,000,000
$7,000,000
$7,000,000
2019-20

$7,500,000
$7,500,000
$0
$4,000,000
$5,000,000
$9,000,000
$9,000,000
2020-21

$7,500,000
$7,500,000
$0
$4,000,000
$2,000,000
$6,000,000
$6,000,000
2021-22
NMC
$7,500,000
$7,500,000
$0
$3,000,000
$6,000,000
$9,000,000
$9,000,000
2022-23
NMC
$7,500,000
$7,500,000
$0
$4,000,000
$2,000,000
$6,000,000
$6,000,000
2023-24
NMC
$7,500,000
$7,500,000
$0
$3,000,000
$4,000,000
$7,000,000
$7,000,000
2024-25
M-NTC
$7,500,000
$7,500,000
$0
$3,000,000
$4,000,000
$7,000,000
$7,000,000
TOTAL

$60,000,000
$60,000,000
$0
$29,000,000
$31,000,000
$60,000,000
$60,000,000
SEASON
CLAUSE
CAP HIT
AAV
P. BONUSES
S. BONUSES
BASE SALARY
TOTAL SALARY
MINORS SALARY
2014-15

$925,000
$3,775,000
$2,850,000
$92,500
$832,500
$925,000
$70,000
2015-16

$925,000
$3,775,000
$2,850,000
$92,500
$832,500
$925,000
$70,000
2016-17

$925,000
$3,775,000
$2,850,000
$92,500
$832,500
$925,000
$70,000
TOTAL

$2,775,000
$11,325,000
$8,550,000
$277,500
$2,497,500
$2,775,000
$210,000

In [11]:
for year in layer_2:
    for value in year:
        print(value.get_text())

SEASON
CLAUSE
CAP HIT
AAV
P. BONUSES
S. BONUSES
BASE SALARY
TOTAL SALARY
MINORS SALARY
2017-18

$7,500,000
$7,500,000
$0
$5,000,000
$4,000,000
$9,000,000
$9,000,000
2018-19

$7,500,000
$7,500,000
$0
$3,000,000
$4,000,000
$7,000,000
$7,000,000
2019-20

$7,500,000
$7,500,000
$0
$4,000,000
$5,000,000
$9,000,000
$9,000,000
2020-21

$7,500,000
$7,500,000
$0
$4,000,000
$2,000,000
$6,000,000
$6,000,000
2021-22
NMC
$7,500,000
$7,500,000
$0
$3,000,000
$6,000,000
$9,000,000
$9,000,000
2022-23
NMC
$7,500,000
$7,500,000
$0
$4,000,000
$2,000,000
$6,000,000
$6,000,000
2023-24
NMC
$7,500,000
$7,500,000
$0
$3,000,000
$4,000,000
$7,000,000
$7,000,000
2024-25
M-NTC
$7,500,000
$7,500,000
$0
$3,000,000
$4,000,000
$7,000,000
$7,000,000
TOTAL

$60,000,000
$60,000,000
$0
$29,000,000
$31,000,000
$60,000,000
$60,000,000

In [ ]:
first = soup.find_all(id='cont_x')
second = first[0].find_all('tr')
third = second[1].find_all('td')

In [ ]:
third

In [ ]:
first_layer = soup.find_all(class_='table_c contract_cont')
first_layer_1 = soup.find_all(class_='cntrct fixed tbl')
first_layer_2 = soup.find_all(id='cont_x')

In [ ]:
second_layer_2 = first_layer_2[0]

In [ ]:
third_layer_2  = second_layer_2.find_all('tr')

In [ ]:
third_layer_2[1]

In [ ]:
fourth_layer_2 = third_layer_2[1].find_all('td')

In [ ]:
fourth_layer_2[0].getText()

In [ ]:
rowo[2].find(class_='left b').getText()

In [ ]:
rowo[0]