In [1]:
import pandas as pd

In [2]:
def get_shot_avg(season):
    def get_data(season):
        ''' User inputs the last 2 numbers of the year the playoffs are in for the season of interest
            IE the 2020-2021 season would be 21. 
            This returns the raw data in a dataframe
        '''
        sea_1 = str(season-1).zfill(2)
        sea_2 = str(season).zfill(2)
        df = pd.read_csv(f'data/pbp/raw/pbp_query_20{sea_1}20{sea_2}.csv',low_memory=False) 

        return df

    def clean_data(df):
        df = df[df.event_type.isin(['SHOT','MISS','GOAL'])].copy()
        df['event_distance'] = ((89 - abs(df['coords_x']))**2 + df['coords_y']**2)**(1/2)

        return df

    def make_table(df):
        teams = df.home_team.unique().tolist()
        team_lst = []
        shot_mean = []
        for team in teams:
            df_temp = df[df.home_team == team]
            team_lst.append(team)
            shot_mean.append(round(df_temp.event_distance.mean(),2))
        dict = {'team':team_lst,'distance_mean':shot_mean}
        shot_avg = pd.DataFrame(dict)
        shot_avg.sort_values(by='distance_mean',ascending=True,inplace=True)
        print(shot_avg)
    
    df_whole = get_data(season)
    df = clean_data(df_whole)
    make_table(df)

In [ ]:
get_shot_avg(21)

In [ ]:
get_shot_avg(20)

In [ ]:
get_shot_avg(19)

In [ ]:
get_shot_avg(18)

In [3]:
def get_shot_avg_2(season):
    def get_data(season):
        ''' User inputs the last 2 numbers of the year the playoffs are in for the season of interest
            IE the 2020-2021 season would be 21. 
            This returns the raw data in a dataframe
        '''
        sea_1 = str(season-1).zfill(2)
        sea_2 = str(season).zfill(2)
        df = pd.read_csv(f'data/pbp/raw/pbp_query_20{sea_1}20{sea_2}.csv',low_memory=False) 

        return df

    def clean_data(df):
        df = df[df.event_type.isin(['SHOT','MISS','GOAL'])].copy()
        df['event_distance'] = ((89 - abs(df['coords_x']))**2 + df['coords_y']**2)**(1/2)

        return df

    def make_table(df):
        teams = df.home_team.unique().tolist()
        team_lst = []
        shot_mean_home = []
        shot_mean_away = []
        for team in teams:
            df_temp_home = df[df.home_team == team]
            df_temp_away = df[df.away_team == team]
            team_lst.append(team)
            shot_mean_home.append(round(df_temp_home.event_distance.mean(),2))
            shot_mean_away.append(round(df_temp_away.event_distance.mean(),2))
        dict = {'team':team_lst,'distance_h':shot_mean_home,'distance_a':shot_mean_away}
        shot_avg = pd.DataFrame(dict)
        shot_avg.sort_values(by='distance_h',ascending=True,inplace=True)
        #print(shot_avg)
        return shot_avg
    
    df_whole = get_data(season)
    df = clean_data(df_whole)
    df = make_table(df)
    return df

In [ ]:
get_shot_avg(21)

In [6]:
df = get_shot_avg_2(21)
print(df.std())
print(df.mean())

distance_h    1.349476
distance_a    0.712988
dtype: float64
distance_h    34.325484
distance_a    34.328710
dtype: float64

In [5]:
df

   team  distance_h  distance_a
26  CHI       31.50       33.64
18  NYI       31.70       35.33
20  ANA       31.97       35.12
23  CAR       33.04       33.72
3   EDM       33.21       34.19
2   TOR       33.22       32.34
7   NYR       33.23       35.25
13  VGK       33.23       34.03
30  S.J       33.54       34.12
11  WPG       33.67       34.27
21  VAN       33.69       34.33
1   T.B       33.74       34.29
28  DAL       33.85       34.56
16  CGY       34.15       35.59
12  ARI       34.22       34.37
14  L.A       34.26       34.34
9   DET       34.36       34.61
17  PIT       34.59       34.20
6   N.J       34.90       34.07
25  WSH       34.90       35.54
19  STL       35.13       34.15
24  CBJ       35.13       35.10
4   COL       35.31       34.26
10  NSH       35.36       33.48
29  MTL       35.60       34.75
15  OTT       35.71       33.73
8   FLA       35.82       33.53
5   BUF       35.82       34.32
22  BOS       35.89       35.46
0   PHI       36.50       33.57
27  MIN       36.85       33.93